.img-container {
  padding-block: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing_image {
  width: 70%;
}

button {
  padding: .3125rem .625rem;
  border-radius: 50px;
  padding: 8px 20px;
  background-color: #00d9ff;
  font-weight: bold;
}